body{
    width: 960px;
    margin: auto;
    background-color: burlywood;
    border: solid chocolate;
}

.nav {
    margin: 2px -5px;
    background-color: chocolate;
}

.main{
    margin: 5px;
}

.section{
    margin: 15px;
    float: left;
    width: 45%;
}

.secimg{
    margin: 1px;
    float: left;
}

.secol{
    margin: 5px;
    float: left;
}

ul{
    display: inline-flex;
    overflow: auto;
    list-style-type: none;

}

.uli{
    padding-top: 5px;
    padding-left:  30px;
    padding-right: 25px;
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid chocolate;
}

li.uli::before {
    content:url(img/spoon.png);
    width: 20px;
    height: 20px;
    display:block;
    float: left;
}

li:last-child {
    border-right: none;
}

.menu {
    text-decoration: none;
    color: #burlywood;
    font: 18px Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
}



.menu:active a {
    text-decoration: underline;
    font-weight: bold;
    color: darkred;
}

a{
     color: chocolate;
 }

a:visited{
    color: chocolate;
    text-decoration: none;
}

.menu a {
    color: burlywood;
}

a:hover {
    color: darkred;
    text-decoration: underline;
    font-weight: bold;
}


img{
    height: 150px;
    width: 150px;
    align: left;
    margin: 5px;
    border: 1px ridge chocolate;
}


.carousel-inner {
    height: 500px;
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner .item img {
    width: 100%;
    min-height: 100%;
    max-height: none;
}